<configuration>
    <appender name="OpenTelemetry" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="CONSOLE" />
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%msg",
                        "exception": "%ex{full}",
                        "trace_id": "%mdc{trace_id}",
                        "span_id": "%mdc{span_id}",
                        "correlation_id": "%mdc{correlation_id}",
                        "service.name": "orders-service",
                        "env": "${ENV:-dev}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="OpenTelemetry"/>
    </root>

    <logger name="com.ferrovial" level="DEBUG"/>
</configuration>